@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply box-border m-0 p-0;
}

#__next{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-shrink: 0 !important;
    overflow: hidden;
}

#Ideal{
    background-color: rgb(177, 27, 27);
}
#Waiting{
    background-color: rgb(197, 197, 19);
}
#Connected{
    background-color: rgb(34, 168, 34);
}
#left{
    justify-content: start;
}
#left > div{
    background-color: rgb(0, 0, 0);
    color: white;
}
#right{
    justify-content: end;
}
#right > div{
    background-color: rgb(255, 255, 255);
}
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
  backdrop-filter: blur(10px);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
}