.container {
  @apply flex-grow flex justify-center;
  background-color: #333333;
  height: 93vh;
  .dashboard {
    @apply  flex flex-col flex-grow relative items-center max-w-2xl shadow-slate-500;
    background-color: #0e0e0e;
    height: 93vh;
    .topContainer {
      @apply flex w-full items-center;
      height: 2.9 vh;
      .state {
        @apply text-center text-lg font-bold text-white  flex-grow;
      }
      .buttonTwo {
        @apply text-center w-2/4 text-lg font-bold text-white bg-red-600;
      }
    }
    .buttonContainer {
      @apply w-full flex justify-center p-2;
      height: 6vh;
      .buttonOne {
        @apply bg-white px-5 text-lg rounded-md;
      }
    }
  }
}
.warning{
  width: 80%;
  aspect-ratio: 1/2;
  background-image: url('../public/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 50%;
  opacity: 1;
}
